{% load static %}

<style>
    #cart-icon {
        position: fixed;
        top: 10px;
        right: 10px;
        background-color: white;
        border-radius: 50%;
        padding: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        z-index: 1050; 
    }
    
    #cart-icon img {
        width: 40px;
        height: auto;
    }
    
    #cart-count {
        position: absolute;
        top: 0;
        right: 0;
        background: red;
        color: white;
        border-radius: 50%;
        padding: 5px;
        font-size: 14px;
    }
</style>

<div id="cart-icon">
    <a href="{% url 'cart:cart_view' %}">
        <img src="{% static 'images/cart.png' %}" alt="Корзина">
        <span id="cart-count">{{ cart_items_count }}</span>
    </a>
</div>
