{% load static %}
{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}" >
    <title>
      {% block title %}{% endblock %}
    </title>
    {% bootstrap_css %}
  </head>
  <body>
    {% if user.is_authenticated and request.path != '/cart/' %}
      {% include "includes/cart_icon.html" %}
    {% endif %}
    {% include "includes/header.html" %}
    <main>
      {% block content %}{% endblock %}
    </main>
  </body>
</html>